<div class="title"><h1>Resend Confirmation Instructions</h1></div>
<br />

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <div>
        <%= f.label :email %><br />
        <%= f.email_field :email %>
    </div>

    <div>
        <%= f.submit "Resend Confirmation Instructions" %>
    </div>

<% end %>

<%= render "links" %>