<div class="form">
  <%= form_for(@expense) do |f| %>
    <% @expense.errors.full_messages.each do |msg| %>
      <p><h3><%= msg %></h3></p>
    <% end %>

    <div>
      <%= f.label :amount %><br />
      <%= f.text_field :amount %>
    </div>

    <div>
      <%= f.label :category %><br />
      <%= f.text_field :category %>
    </div>

    <div>
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>

    <div>
        <%= f.submit %>
    </div>
  <% end %>

</div>