<div class="title"><h1>Expense Detail</h1></div>
<br />

<div class="sub-container">
    <table>
        <tr>
            <td align="right" valign="top">Amount</td>
            <td align="left" valign="top">$<%= @expense.amount %></td>
        </tr>
        <tr>
            <td align="right" valign="top">Category</td>
            <td align="left" valign="top"><%= @expense.category %></td>
        </tr>
        <tr>
            <td align="right" valign="top">Description</td>
            <td align="left" valign="top"><%= @expense.description %></td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <%= link_to "Back", expenses_path %>&nbsp;&nbsp;&nbsp;
                <%= link_to "Edit", edit_expense_path(@expense) %>&nbsp;&nbsp;&nbsp;
                <%= link_to 'Delete', @expense, confirm: 'Are you sure?', method: :delete %>
            </td>
        </tr>
    </table>
</div>